# Data Science Tools and Ecosystem

# **Objective:**
-What the popular libarys are for Data Science
-Data Science Tools
-How to Muliply using python
-How to Convert using python

Some of the popular languages that Data Scientists use are:
    1. Java
    2. Julia
    3. Swift

Some of the popular libarys that Data Scientists use are:
    1.Pandas
    2.NumPy
    3.Keras

| Data Science Tools |
|--------------------|
|Hadroop|
|Spark|
|Python|

### Below are a few examples of evaluating arithmetic expressions in Python

# This is a simple arithmetic expression to mutiply then add integenn

In [7]:
(3*4)+5

17

# This will convert 200 minutes to hours by diving by 60

In [8]:
200 % 60

20

## Author
Danelle